h2
{
  background-color: white;
  font-family: arial;
}

body{
    color:blue;
    justify-content: center;
    text-align:center;
}

.rectangle{
  width:100px;
  height:300px;
  background:blue;
  color:red;
  align-self: center;
  text-align: center;
}


.simon{
  border-radius: 5px;
  margin: auto;
  padding: 10px 40px;
}

#grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2px;
    grid-template-rows: 120px 120px;
    grid-template-columns: 120px 120px;
    margin: auto;
}

.green{
  padding: 40px 40px;
  background-color: green;
  text-decoration-color: white;
}

.yellow{
  padding: 40px 40px;
  background-color: #D1D54E;
  text-decoration-color: white;
  height = 50px;
}
.red{
  padding: 40px 40px;
  background-color: #A10A0A;
  text-decoration-color: white;
}
.blue{
  padding: 40px 40px;
  background-color: #3454C1;
  text-decoration-color: white;
}

.wrapper {
  justify-content: center;

  max-width: 960px;

  padding-right: 10px;
  padding-left:  10px;
}

.status{
  margin: auto;
}

.litGreen{
  background-color: #66ff00;
}

.litYellow{
  background-color: #F7FF00;
}

.litRed
{
  background-color: #FF160C;
}
.litBlue{
  background-color: #0096FF;
}

.unclickable{
  pointer-events: none;
}

.hidden {
  display: none !important;
}
